<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  {% load django_htmx %}
  {% load compress %}
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
    <title>MedLog</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <script src="{% static 'js/switchTheme.js' %}"></script>
  <script src="{% static 'js/hamburgerMenu.js' %}"></script>
</html>
