{% extends "_base.html" %}
{% block content %}
{% load i18n %}
{% load static %}
<section id="mainDashboardSection" class="bg-white dark:bg-custom-gray-400 overflow-x-hidden h-screen">
    {% if show_medicine_modal == True and medicine_form %}{% include "dashboard/components/addMedicineModal.html" with form=medicine_form medicine_type=medicine_type %}{% endif %}
    {% include "dashboard/components/navbar.html" %}

    {% with request.resolver_match.url_name as curr_url_name %}
    {% if curr_url_name == 'dashboard' %} <div hx-trigger="load" hx-get="add-log/"></div>{% endif %}
    {% endwith %}

    {% block dashboard_content %}
    {% endblock %}
</section>
{% endblock %}
